# /node_modules
# /public/hot
# /public/storage
/storage/*.key
vendor/
database/Cinect.sql
node_modules/
.env
# .env.backup
# .phpunit.result.cachessss
# docker-compose.override.yml
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /.idea
# /.vscode
